:root {
    font-size: 1.3rem;
    --color-primary: #003264;
}

* {
    margin: 0;
}

a:hover {
    cursor: pointer;
}

body {
    /* background-color: var(--color-primary); */
    padding: 0;
    background-color: #f0f8ff;

}

.nav-bar {
    background-color: #fff;
    padding: 0;
    box-shadow: 0px 0px 10px #44444444;
    display: flex;
    align-items: center;
    z-index: 10;
}

.nav-bar>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    min-width: 70%;
    max-width: 70%;
    margin: 0 auto;
    height: 3.25rem;
    /* background-color: red; */
}

.nav-bar>div>ul {
    list-style: none;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 60%;
    margin: 0;
    height: 100%;
}

.nav-bar>div>ul>li>a {
    margin: 0 1rem;
}

.nav-bar>div>ul>li {
    height: 100%;
    line-height: 100%;
    display: flex;
    align-items: center;
}

.nav-bar>div>ul>li:hover {
    border-bottom: 6px solid red;
}
